.content{
    color: black !important;
}
.sidebar .sidebar-background:after {
    background-color: rgb(0, 0, 0) !important;
}
.sidebar .nav li a{
    color: white !important;
}

.sidebar li.active>a{
    background-color: rgb(0, 0, 0);
}

/* NOTES:
sidebar in material dashboard.css has box shadow .56 */